#include "resource.h"
IDB_MAP1 BITMAP "re/background1.bmp"
IDB_CHOOSE BITMAP "re/choose.bmp"
IDB_SCOOPBOX BITMAP "re/scoop_box.bmp"
IDB_SCOOP BITMAP "re/scoop.bmp"
IDB_PBALL BITMAP "re/pball.bmp"
IDB_PeaBulletHit BITMAP "re/PeaBulletHit.bmp"
IDB_SHADOW BITMAP "re/shadow.bmp"
IDB_SnowPeashooterBullet BITMAP "re/SnowPeashooterBullet.bmp"
IDB_CD BITMAP "re/cd.bmp"
IDB_Surface BITMAP "re/Surface.bmp"
IDB_Selector BITMAP "re/SelectorScreenStartAdventur.bmp"
IDB_PrepareGrowPlants BITMAP "re/PrepareGrowPlants.bmp"
IDB_PrepareGrowPlantsok BITMAP "re/PrepareGrowPlantsok.bmp"
IDB_PrepareGrowPlantsgo BITMAP "re/PrepareGrowPlantsgo.bmp"
IDB_LargeWave BITMAP "re/LargeWave.bmp"
IDB_FinalWave BITMAP "re/FinalWave.bmp"
IDB_FlagMeterEmpty BITMAP "re/FlagMeterEmpty.bmp"
IDB_FlagMeterFull BITMAP "re/FlagMeterFull.bmp"
IDB_FlagMeterParts2 BITMAP "re/FlagMeterParts2.bmp"
IDB_FlagMeterParts1 BITMAP "re/FlagMeterParts1.bmp"
IDB_ZombiesWon BITMAP "re/ZombiesWon.bmp"
IDB_FlagMeterLevelProgress  BITMAP "re/FlagMeterLevelProgress.bmp"
IDB_SquashR  BITMAP "re/SquashR.bmp"
IDB_plantchoosebox  BITMAP "re/plantchoosebox.bmp"
IDB_plantchoose1  BITMAP "re/plantchoose.bmp"
IDB_fight1  BITMAP "re/fight1.bmp"
IDB_fight2  BITMAP "re/fight2.bmp"